.navbartop {
 margin: 0;
 padding: 0;


}

nav {
    background-color: azure;
    padding: 1rem;

}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
}
nav ul li a { 
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover {
    background-color: rgb(145, 184, 255);
    border-radius: 5px;
    
} 